<?xml version="1.0" encoding="UTF-8"?>
<config>
    <visualizer_path>C:\Users\user\Desktop\Otcheti\konfyprav\homework2\plantuml.jar</visualizer_path>
    <repo_path>C:\Users\user\Desktop\OCW</repo_path>
    <output_path>C:\Users\user\Desktop\Otcheti\konfyprav\homework2\file.puml</output_path>
</config>